main {
  padding: 0px 15px;
}

.featured-book {
  display: flex;
}

.featured-book img {
  width: 110px;
  border-radius: 5px;
  margin-right: 20px;
}

.featured-book__data {
  width: 100%;
}

.featured-book__data h2 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 5px;
}
.featured-book__data h3 {
  font-size: 12px;
  font-weight: 600;
  opacity: 0.3;
  margin-bottom: 10px;
}

.featured-book__rating {
  color: #fdcc32;
  font-size: 12px;
  margin-bottom: 20px;
}

.featured-book__rating i:last-child {
  color: #f7f7f7;
}

.featured-book__tags {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.featured-book__tags span {
  background: #f7f7f7;
  font-size: 12px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5px;
}

.featured-book__actions {
  margin-top: 28px;
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.featured-book__actions span {
  background-color: #fdcc32;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.featured-book__actions button {
  background: black;
  color: white;
  font-size: 12px;
  font-weight: 500;
  padding: 10px 40px;

  border-radius: 5px;
}
