@import "bookoftheday.css";
@import "topadventures.css";
@import "popular.css";

* {
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 360px;
  margin: 0 auto;
  padding-bottom: 20px;
}

header {
  display: flex;
  justify-content: center;
  background-color: #fdcc32;
  padding: 40px 15px;
  padding-bottom: 50px;
}

header > * {
  width: 33%;
}

header h3 {
  text-align: center;
  font-weight: 600;
  margin-top: 0px;
}

header i:last-child {
  text-align: end;
}

input {
  display: block;
  width: 100%;
  border: none;
  padding: 15px 25px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
}
input::placeholder {
  opacity: 0.7;
}

#search {
  width: 95%;
  position: relative;
  top: -30px;
  margin: 0px auto;
}

#search i {
  position: absolute;
  top: 15px;
  right: 20px;
  color: rgba(0, 0, 0, 0.1);
}


$ git commit --allow-empty -m 'Trigger rebuild'
$ git push origin
