.top-books img {
  width: 68px;
  height: 100px;
  border-radius: 3px;
}

.top-books__rating {
  color: #fdcc32;
  font-size: 8px;
  margin-top: 10px;
}

.top-books__rating i:last-child {
  color: #f7f7f7;
}

.top-books {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
}
